<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>添加或修改页面</title>
		<!--引入CSS样式文件-->
		<link rel="stylesheet" href="../../static/css/layui.css">
	</head>
	<body>
		<form method="get" class="layui-form">
			<div class="layui-form-item">
<!--				<label class="layui-form-label">ID：</label>-->
				<div class="layui-input-inline">
					<input type="hidden"  id="id" name="id" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">书名：</label>
				<div class="layui-input-inline">
					<input type="text" id="name" name="name" class="layui-input">
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">作者：</label>
				<div class="layui-input-inline">
					<input type="text" id="author" name="author" class="layui-input">
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">价格：</label>
				<div class="layui-input-inline" style="width:80px">
					<input type="text" id="price" name="price" class="layui-input"/>
				</div>

				<label class="layui-form-label">销量：</label>
				<div class="layui-input-inline" style="width:80px">
					<input type="text" id="sales" name="sales" class="layui-input"/>
				</div>

				<label class="layui-form-label">库存：</label>
				<div class="layui-input-inline" style="width:80px">
					<input type="text" id="stock" name="stock" class="layui-input"/>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">图片：</label>
				<div class="layui-input-inline">
					<input type="text" id="imgPath" name="imgPath" class="layui-input" />
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">出版日期：</label>
				<div class="layui-input-inline">
					<input type="text" id="createTime" name="createTime" class="layui-input" />
				</div>
			</div>

			<div class="layui-form-item" style="margin: 0 auto">
				<div class="layui-input-block">
					<button name="but" class="layui-btn" lay-submit lay-filter="saveBtn">提交</button>
					<button name="set"class="layui-btn" type="reset">重置</button>
				</div>
			</div>

		</form>

	</body>

	<!--引入layui 核心库文件-->
	<script src="../../static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
	<script src="../../static/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
	<script>
		// console.log("window.location"+window.location.href)
		// function getRequestParam(){
		// 	var reg = /(?<=\=)\w*/;
		// 	var type = window.location.href.match(reg);
		// 	return type;
		// }

		/**use函数用于加载页面要使用的模块*/
		layui.use(['layer', 'form', 'table','laydate'], function() {

			        var layer = layui.layer,
					form = layui.form,
					table = layui.table,
					$ = layui.$,
					laydate = layui.laydate;

			        laydate.render({
								elem: '#createTime',
								type: 'date'
							})
			//form表单的文本框 name属性值一定要与实体类的属性对应
			form.on('submit(saveBtn)',function (data) {
				// const type = getRequestParam();
				// console.log("type"+type);
				console.log(JSON.stringify( data.field ));
				   // if(type == 'add') {
					   $.ajax({
						   type: "post",
						   url: "saveBean",
						   dataType: "json",
						   data: JSON.stringify(data.field),
						   contentType: "application/json;charset=UTF-8",
						   success: function (data) {
							   if (data.code == 0) {
								   layer.msg(data.message, {icon: 6, time: 2000}, function () {
									   setTimeout(function () {
										   layer.closeAll();
									   }, 3000)
									   parent.location.reload();//重新加载父页面信息
								   })
							   } else {
								   layer.msg(data.message, {icon: 5, time: 2000}, function () {
									   setTimeout(function () {
										   layer.closeAll();
									   }, 3000)
									   parent.location.reload();//重新加载父页面信息
								   })
							   }

						   }
					   })

				   // }
				   // else if(type == 'edit'){
					//    $.ajax({
					// 	   type: "post",
					// 	   url: "saveBean",
					// 	   dataType: "json",
					// 	   data: JSON.stringify(data.field),
					// 	   contentType: "application/json;charset=UTF-8",
					// 	   success: function (data) {
					// 		   if (data.code == 0) {
					// 			   layer.msg(data.message, {icon: 6, time: 2000}, function () {
					// 				   setTimeout(function () {
					// 					   layer.closeAll();
					// 				   }, 3000)
					// 				   parent.location.reload();//重新加载父页面信息
					// 			   })
					// 		   } else {
					// 			   layer.msg(data.message, {icon: 5, time: 2000}, function () {
					// 				   setTimeout(function () {
					// 					   layer.closeAll();
					// 				   }, 3000)
					// 				   parent.location.reload();//重新加载父页面信息
					// 			   })
					// 		   }
				   //
					// 	   }
					//    })

				   // }

					return false;
			})
		})
	</script>
</html>
